<section class="area-grid" *ngIf="gridView">
  <div *ngFor="let project of jsonData" [routerLink]="['/project', project.id]">
    <div class="area-grid__item">
      <div class="area-grid__item-image-container">
        <img [src]="project.image" alt="Project Image" />
      </div>
      <div class="area-grid__item-container">
        <div class="area-grid__item-info">
          <div style="display: flex; flex-direction: column">
            <h3>{{ project.title }}</h3>
            <div
              style="
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                text-align: center;
                justify-content: center;
              "
            >
              <p
                style="margin-right: 10px; font-size: 12px"
                *ngFor="let technology of project.technologies"
              >
                {{ technology }}
              </p>
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              gap: 20px;
              align-content: center;
              justify-content: space-between;
              padding: 5px;
            "
          >
            <p style="font-color: lightgray; font-size: 8px">
              <span style="font-weight: bold; font-size: 10px"
                >Created at:</span
              >
              {{ project.created_at }}
            </p>
            <p style="font-color: lightgray; font-size: 8px">
              <span style="font-weight: bold; font-size: 10px"
                >Last commit:</span
              >
              {{ project.last_commit }}
            </p>
          </div>
        </div>
        <div class="area-grid__item-buttons">
          <button
            mat-fab
            extended
            (click)="redirectToGitHub(project.github)"
            color="primary"
          >
            <mat-icon>code</mat-icon>
            GitHub
          </button>
          <button
            mat-fab
            extended
            (click)="redirectToDemo(project.demo)"
            color="primary"
          >
            <mat-icon>link</mat-icon>
            Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
