<section class="about">
  <h1>About Me</h1>
  <p class="about-content">
    <span>💻 Front-End Developer: React, Vue.js, and Angular.</span>
    <span>👋 My name is Érick Santos, and I am 21 years old.</span>
    <span
      >📌 I come from Luís Eduardo Magalhães, Bahia, Brazil, but I currently
      live in Palmas, Tocantins.</span
    >
    <span
      >🎓 I am studying Computer Science at the Federal University of Tocantins
      (UFT).</span
    >
    <span
      >🎓 My topics of interest are Full-Stack Development, Data Analysis, and
      AI Research/Engineering.</span
    >
    <span
      >👨‍🏫 I am a member of iBots UFT, a simulated football team for the RoboCup
      2D Soccer Simulation League ibotsuft.</span
    >
    <span
      >👋 My hobbies are football, Japanese manga, Korean series, and some FPS
      games.</span
    >
  </p>
</section>
