<section class="hero">
  <h1>Érick Santos Marçal</h1>
  <p>
    Your
    <span style="color: #ff5733; font-weight: bold">Front-End Developer,</span>
    with certain background in
    <span style="color: green; font-weight: bold">Back-End development, </span>
    <span style="color: #5733ff; font-weight: bold">Data Analysis</span>
    and
    <span style="color: #ff33b2; font-weight: bold"
      >Artificial Intelligence.</span
    >
  </p>
  <div class="buttons">
    <button
      mat-fab
      extended
      (click)="redirectToGitHub('https://github.com/erarich')"
      color="primary"
    >
      <mat-icon>code</mat-icon>
      GitHub
    </button>
    <button
      mat-fab
      extended
      (click)="redirectToDemo('https://www.linkedin.com/in/erickmar%C3%A7al/')"
      color="primary"
    >
      <mat-icon>link</mat-icon>
      LinkedIn
    </button>
  </div>
</section>
