<main class="area-container">
  <div class="area-container__header">
    <h2>{{ areaType }}</h2>
    <p>{{ jsonData.length }} projects.</p>
    <mat-divider></mat-divider>
    <div class="area-container__filter">
      <div style="display: flex; flex-direction: row; gap: 20px">
        <mat-select [(value)]="sortSelect" placeholder="Sort">
          <mat-option *ngFor="let option of sort" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
        <mat-select [(value)]="languageSelect" placeholder="Language" multiple>
          <mat-option *ngFor="let option of language" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
        <mat-select
          [(value)]="frameworkSelect"
          placeholder="Framework"
          multiple
        >
          <mat-option *ngFor="let option of framework" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </div>
      <div>
        <mat-select
          [(value)]="viewSelect"
          (selectionChange)="onViewSelectChange()"
          placeholder="View"
        >
          <mat-option *ngFor="let option of viewOptions" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <section class="area-list" *ngIf="listView">
    <div
      routerLink="/project/1"
      class="area-list__item"
      *ngFor="let project of jsonData"
    >
      <div class="area-list__item-image-container">
        <img [src]="project.image" alt="Project Image" />
      </div>
      <div class="area-list__item-container">
        <div class="area-list__item-info">
          <div style="display: flex; flex-direction: column">
            <h3>{{ project.title }}</h3>
            <div>
              <ul>
                <li *ngFor="let technology of project.technologies">
                  {{ technology }}
                </li>
              </ul>
            </div>
          </div>
          <div>
            <p style="font-color: lightgray; font-size: 10px">
              <span style="font-weight: bold; font-size: 12px"
                >Created at:</span
              >
              {{ project.date }}
            </p>
            <p style="font-color: lightgray; font-size: 10px">
              <span style="font-weight: bold; font-size: 12px"
                >Last commit:</span
              >
              {{ project.date }}
            </p>
          </div>
        </div>
        <div class="area-list__item-buttons">
          <button
            mat-fab
            extended
            (click)="redirectToGitHub(project.github)"
            color="primary"
          >
            <mat-icon>code</mat-icon>
            GitHub
          </button>
          <button
            mat-fab
            extended
            (click)="redirectToDemo(project.demo)"
            color="primary"
          >
            <mat-icon>link</mat-icon>
            Demo
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="area-table" *ngIf="tableView">
    <p>Table View</p>
  </section>

  <section class="area-grid" *ngIf="gridView">
    <p>Grid View</p>
  </section>

  <h2 *ngIf="teste">TESTE</h2>
</main>
