<main class="area-container">
  <div class="area-container__header">
    <h2>{{ areaType }}</h2>
    <p>{{ jsonData.length }} projects.</p>
    <mat-divider></mat-divider>
    <div class="area-container__filter">
      <div style="display: flex; flex-direction: row; gap: 20px">
        <mat-select [(value)]="modeSelect" placeholder="Order by">
          <mat-option [value]="value">Relevant</mat-option>
        </mat-select>
        <mat-select [(value)]="modeSelect" placeholder="Language">
          <mat-option [value]="value">Relevant</mat-option>
        </mat-select>
        <mat-select [(value)]="modeSelect" placeholder="Framework">
          <mat-option [value]="value">Relevant</mat-option>
        </mat-select>
      </div>
      <div>
        <mat-select [(value)]="modeSelect" placeholder="View">
          <mat-option [value]="value">Relevant</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <section class="area-list">
    <div class="area-list__item" *ngFor="let project of jsonData">
      <div class="area-list__item-image-container">
        <img [src]="project.image" alt="Project Image" />
      </div>
      <div class="area-list__item-container">
        <div class="area-list__item-info">
          <div style="display: flex; flex-direction: column">
            <h3>{{ project.title }}</h3>
            <div>
              <ul>
                <li *ngFor="let technology of project.technologies">
                  {{ technology }}
                </li>
              </ul>
            </div>
          </div>
          <p style="font-color: lightgray; font-size: 10px">
            {{ project.date }}
          </p>
        </div>
        <div class="area-list__item-buttons">
          <button
            mat-fab
            extended
            (click)="redirectToGitHub(project.github)"
            color="primary"
          >
            <mat-icon>code</mat-icon>
            GitHub
          </button>
          <button
            mat-fab
            extended
            (click)="redirectToDemo(project.demo)"
            color="primary"
          >
            <mat-icon>link</mat-icon>
            Demo
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
